<div class="topbar">
    <div class="topbar-inner">
		<div class="container">
		<h3><a href="#">Events</a></h3>
		<ul>
			<li><a href="#masthead">about</a></li>
			<li><a href="/">homepage</a></li>
			<li><a href="http://www.linkedin.com/">follow us on LinkedIn</a></li>
		</ul>
		<ul class="nav secondary-nav">
		#{if user}
            <li><img src="${user.avatarUrl}" alt="avatar"/>${user.name}</li>
            <li>#{a @secure.logout()}signout#{/a}</li>
		#{/if}
		#{else}
		  <li>#{a @secure.login()}signin#{/a}</li>
		#{/else}
			<li><a href="http://www.playframework.org/" id="play-logo"></a></li>
		</ul>
		</div>
	</div>
</div>