#{extends 'main.html' /}
#{set title:'Events' /}

<section id="list">

<div class="page-header"> 
    <div class="row">
	    <div class="span14"  style="padding-top:55px;">
	    	<h1>&{'event.title'}</h1>
	    </div>
	    <div id="jugar-logo" class="span2">
	    	<a href="http://www.jugargentina.org/" id="jugar-logo"></a>
	    </div>
    </div>
</div>

#{if flash.success}
    <div class="alert-message success">
        <a class="close" href="#">&times;</a>
        <p>${flash.success}</p>
    </div>
#{/if}

<div class="row">
#{if events}
    <table class="zebra-striped sorted">
        <thead>
            <th>#</th>
            <th>&{'event.name'}</th>
            <th>&{'event.type'}</th>
            <th>&{'event.place'}</th>
            <th>&{'event.date'}</th>
            <th></th>
        </thead>
    #{list events, as:'event'}
        <tr id="row_${event.id}">
            <td>${event.id}</td>
            <td>#{a @form(event.id)}${event.name}#{/a}</td>
            <td>${event.type.name}</td>
            <td>${event.place}</td>
            <td>${event?.date?.format()}</td>
            <td><a href="javascript:del(${event.id})"><img src="@{'/public/images/delete.jpg'}" /></a></td>
        </tr>
    #{/list}
    </table>
#{/if}
#{else}
&{'event.noEvents'}
#{/else}
</div> <!-- /row -->

<div class="list-actions">
    #{a @form(), class:'btn primary'}&{'event.button.newEvent'}#{/a}
    #{a @loadFromYamlFile(), class:'btn'}&{'event.button.loadFromYaml'}#{/a}
    #{a @CRUD.index(), class:'btn'}&{'event.button.admin'}#{/a}
</div>

</section>

<script>
    $(function() {
	    $("table.sorted").tablesorter({ sortList: [[1,0]] });
    });
</script>

<script>
function del(id) {
    $.ajax( {
        type: "DELETE",
        url: '/event/' + id
    });
    $("#row_" + id).fadeOut(1000);
}
</script>
