<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link href="@{'/public/stylesheets/bootstrap-1.2.0.css'}" rel="stylesheet">
        <link rel="stylesheet" href="@{'/public/stylesheets/main.css'}" media="screen" >
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.3.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.tablesorter.min.js'}"></script>

        #{get 'moreScripts' /}
    </head>
    <body>
        #{include 'partials/topbar.html' /}
        <div class="container">    
            #{doLayout /}
        </div> <!-- /container -->
        #{include 'partials/footer.html' /}
    </body>
</html>
